<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<h1>{{typeName}} request received.</h1>
</head>
<body>

<table>
	
	<tr>
		<th align='left'>Key</th>
		<th align='left'>Data</th>
	</tr>
	{{#each dataList}}
	<tr>
		<td>{{this.name}}</td>
		<td>{{this.value}}</td>
	</tr>
	{{/each}}
</table>
</body>
</html>